<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flowable.springboot.dao.RoleDao">
    <resultMap id="roleMap" type="com.flowable.springboot.bean.RoleBean">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="queryRolesByUserCode" parameterType="String" resultMap="roleMap">
      select s.role_id as id,s.role_name as name
      from SYS_USER_ROLE_RULE  s
      left join SYS_USERMANAGE u
      on s.user_id=u.user_id
      where u.USER_CODE=#{userCode}
    </select>
</mapper>