<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flowable.springboot.dao.UserInfoDao">
    <resultMap id="userInfoMap" type="com.flowable.springboot.bean.UserInfoEntity">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="username" column="USER_NAME" jdbcType="VARCHAR"/>
        <result property="firstName" column="FIRST_NAME" jdbcType="VARCHAR"/>
        <result property="lastName" column="LAST_NAME" jdbcType="VARCHAR"/>
        <result property="birthDate" column="BIRTH_DATE" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findByUsername" parameterType="String" resultMap="userInfoMap">
        select ID,USER_NAME FROM user_info WHERE USER_NAME = #{userName}
    </select>

    <select id="save" parameterType="com.flowable.springboot.bean.UserInfoEntity" resultType="int">
        INSERT INTO user_info(USER_NAME,FIRST_NAME,LAST_NAME,LAST_NAME) VALUES(#{userName},#{firstName},#{lastName},#{birthDate})
    </select>

    <select id="findList" resultMap="userInfoMap">
        SELECT ID,USER_NAME,FIRST_NAME,LAST_NAME ,LAST_NAME FROM user_info
    </select>

    <select id="selectByUserId" parameterType="long" resultMap="userInfoMap">
        select ID,USER_NAME FROM user_info WHERE id = #{userId}
    </select>

</mapper>
